[submodule "examples/Common/STM32CubeF1"]
	path = examples/Common/STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
	branch = master
[submodule "examples/Common/etl"]
	path = examples/Common/etl
	url = https://github.com/ETLCPP/etl.git
	branch = master
[submodule "examples/Common/CANopenNode.STM32"]
	path = examples/Common/CANopenNode.STM32
	url = https://github.com/CANopenNode/CanOpenSTM32.git
	branch = master
[submodule "examples/Common/Unity"]
	path = examples/Common/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = master
[submodule "examples/Common/CmBacktrace"]
	path = examples/Common/CmBacktrace
	url = https://github.com/armink/CmBacktrace.git
	branch = master
